root: true
env:
  browser: true
  node: true
parser: '@typescript-eslint/parser'
parserOptions:
  ecmaVersion: 2020
  sourceType: module
  project: tsconfig.json
plugins:
  - '@typescript-eslint'
extends:
  - eslint:recommended
  - plugin:@typescript-eslint/recommended
  - plugin:@typescript-eslint/recommended-requiring-type-checking
  - prettier
overrides:
  - files:
      - '*.graphql'
    parser: '@graphql-eslint/eslint-plugin'
    plugins:
      - '@graphql-eslint'
