# functions sources and webpack.config.ts
'*.{ts, graphql}':
  - eslint
  - prettier --write

# client sources
'*.{html, css}':
  - prettier --write

# config
'(*.{json, toml, yaml}|*rc)':
  - prettier --write
