:root {
  --bg-color: #eceff1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
}

#sidebar {
  flex: 0 0 288px;
  height: 100%;
}

#board {
  background-color: var(--bg-color);
  flex: 1 0 auto;
  height: 100%;
}

#board #items {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

#page {
  flex: 0 0 360px;
  height: 100%;
}
